# Information extracted http://www.redmine.org/projects/redmine/wiki/Repositories_access_control_with_apache_mod_dav_svn_and_mod_perl
# {{ ansible_managed }}

<VirtualHost *:{{ redmine_apache_port }}>
    
  ServerName $server_name
  PerlLoadModule Apache::Redmine

  DocumentRoot {{ redmine_path }}/current/public
  Alias /redmine {{ redmine_path }}/current/public

  <Location /redmine>
    # DocumentRoot {{ redmine_path }}/current/public
    RailsBaseURI /
    PassengerAppRoot {{ redmine_path }}/current
  </Location>
	
  <Directory {{ redmine_path }}/current/public>
    AllowOverride all
    Options -MultiViews
    Order allow,deny
    Allow from all
    # New directive needed in Apache 2.4.3: 
    Require all granted
  </Directory>
    
    PassengerUser www-data
    PassengerGroup www-data
    
</VirtualHost>
